*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins",sans-serif;
    background: linear-gradient(90deg,#6190e8, #a7bfe8);
}
form{
    min-height: 40vh;
    width:40%;
    background: white;
    color:#777474;
    
}